{% include 'header.twig' %}

         <div class="app-content">
            <!-- page-content -->
            <div class="container-fluid">
               <div class="row mt-4">
                  <div class="col-lg-12">
                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                              <div class="d-card dc-blue">
                                 <div class="d-card-body" id="dc-body">
								  {% if error %}
									<div class="alert alert-dismissible alert-danger">
									  <button type="button" class="close" data-dismiss="alert">×</button>
									  {{ errorText }}
									</div>
								  {% endif %}
								  {% if success %}
									<div class="alert alert-dismissible alert-success">
									  <button type="button" class="close" data-dismiss="alert">×</button>
									  {{ successText }}
									</div>
								  {% endif %}
                                 <div class="form-group mb-4">
                                    <label style="color: #fff">{{ lang['account.username'] }}</label>
                                    <div class="input-group">
                                       <input class="form-control" type="text" value="{{user['username']}}" readonly>
                                    </div>
                                 </div>
                                 <div class="form-group mb-4">
                                    <label style="color: #fff">E-Mail</label>
                                    <div class="input-group">
                                       <input class="form-control" type="text" value="{{user['email']}}" readonly>
                                    </div>
                                 </div>
                                 </div>
                              </div>
                              <!-- d-card end -->
                              <div class="d-card mt-4">
                                 <div class="d-card-body" id="dc-body">
									 <form method="post" action="account">
										 <div class="form-group mb-4">
											<label>{{ lang['account.password.current'] }}</label>
											<div class="input-group">
											   <input type="password" class="form-control" name="current_password">
											</div>
										 </div>
										 <div class="form-group mb-4">
											<label>{{ lang['account.password.new'] }}</label>
											<div class="input-group">
											   <input type="password" class="form-control" name="password">
											</div>
										 </div>
										 <div class="form-group mb-4">
											<label>{{ lang['account.password.confirm'] }}</label>
											<div class="input-group">
											   <input type="password" class="form-control" name="confirm_password">
											</div>
										 </div>
										 <button type="submit" class="btn btn-primary btn-lg btn-block mb-4">Mudar Senha</button>
									 </form>
                                 </div>
                              </div>
                              <!-- d-card end -->
                           </div>
                           <!-- col item end-->
                           <div class="col-lg-6 col-12 mb-5 mb-lg-0">
						   
							{% if site['languages']|length > 1 %}
                              <div class="d-card dc-dblue">
                                <div class="d-card-body" id="dc2-body">
								<form method="post" action="account/change_lang">
								<div class="form-group mb-4">
								  <label for="charge" class="control-label">{{ lang['account.changelang.title'] }}</label>
								  <select class="form-control" name="lang">
									  {% for language in site['languages'] %}
									  <option {% if language["code"] == user["lang"] %} selected {% endif %} value="{{ language["code"] }}">{{ language["name"] }}</option>
									  {% endfor %}
								  </select>
								</div>
									<button type="submit" class="btn btn-primary btn-lg btn-block my-4">{{ lang['account.changelang.button'] }}</button> 
								</form>
                               </div> 
                              </div>
							{% endif %}
							
                              <div class="d-card dc-dblue">
                                <div class="d-card-body" id="dc2-body">
								 <form method="post" action="account/timezone">
								 <div class="form-group mb-4">
									<label for="language" class="control-label">{{ lang['account.timezone.title'] }}</label>
									 <select class="form-control" name="timezone">
										 {% for timezone in timezones %}
										 <option {% if timezone["timezone"] == user['timezone'] %} selected {% endif %} value="{{ timezone["timezone"] }}">{{ timezone["label"] }}</option>
										 {% endfor %}
									 </select>
								 </div>
									<button type="submit" class="btn btn-primary btn-lg btn-block my-4">{{ lang['account.timezone.button'] }}</button> 
								 </form>
                                </div>
                              </div>
							  
                              <div class="d-card dc-orange mt-4">
                                <div class="d-card-body" id="dc2-body">
								 <form method="post" action="account/newapikey">
								 <div class="form-group mb-4">
									<label for="language" style="color: #fff" class="control-label">API Key</label>
									<input type="text" class="form-control" value="{{ user['apikey'] }}" readonly>
								 </div>
									<input type="hidden" name="_csrf" value="{{csrftoken}}">	
									<button type="submit" class="btn btn-outline btn-lg btn-block my-4">{{ lang['account.generate.key'] }}</button> 
								 </form>
                                </div>
                              </div>
							  
                           </div>
                        </div>
                     </section>
                  </div>
                  <!-- page-content end -->
               </div>
               <!-- app-content -->
            </div>
         </div>

      </div>



{% include 'footer.twig' %}
