{% include 'header.twig' %}

<style>
  .header {display: none}
</style>
{% if resetStep == 1 %}
<div class="register-page">
    <div class="register-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="register-left">
                        <a href="/">
						  {% if site["logo"] %}
							<img src="{{ site['logo'] }}" width="300" height="30" alt="{{ site["site_name"] }}" class="rl-logo" title="{{ site["site_name"] }}">
						  {% else %}
							{{ site["site_name"] }}
						  {% endif %}
						</a>
                        <div class="rl-text">
                            Por favor, preencha o formulário para receber um e-mail de redefinição de senha.
                        </div>
                        <ul class="rl-menu d-none d-lg-block">
                            <li>
                                <a href="/">Pagina inicial</a>
                            </li>
                            <li>
                                <a href="/services">Serviços</a>
                            </li>
                            <li>
                                <a href="/api">API</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center">
    
                    <div class="loginSide">
					<form method="post" action="">
                        <div class="login-box">
							  {% if errorText %}
								<div class="alert alert-dismissible alert-danger">
								  <button type="button" class="close" data-dismiss="alert">×</button>
								  {{ errorText }}
								</div>
							  {% endif %}
							  {% if successText %}
								<div class="alert alert-dismissible alert-success">
								  <button type="button" class="close" data-dismiss="alert">×</button>
								  {{ successText }}
								</div>
							  {% endif %}
                            <div class="lgb-title">
                                Esqueci a minha senha
                            </div>
                            <div class="lgb-text">
                                Digite seu e-mail cadastrado no sistema.
                            </div>
                            <div class="fc-home">
                                <label for="regUsername"><span class="label-text">{{ lang['resetpassword.user'] }}</span></label>
                                <input type="text" class="form-control" name="user" value="{{ data['user'] }}">
                            </div><!-- fc-home -->
							  <div class="form-group">
								<label for="username" class="control-label">{{ lang['resetpassword.type'] }}</label>
								<select class="form-control" name="type">
								 {% for reset in resetType %}
								  <option value="{{ reset['type'] }}">{{ reset['name'] }}</option>
								 {% endfor %}
								</select>
							  </div>

							  {% if captcha %}
								<div class="form-group">
								  <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
								</div>
							  {% endif %}

                            <button class="btn btn-secondary btn-lg btn-block mt-3" type="submit">
                               {{ lang['resetpassword.button'] }}
                            </button>
                        </div><!-- login box -->
						</form>
                    </div>
    
                </div>
            </div><!-- row end -->
        </div>
    </div>
</div>

{% else %}
<div class="register-page">
    <div class="register-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="register-left">
                        <a href="/">
						  {% if site["logo"] %}
							<img src="{{ site['logo'] }}" alt="{{ site["site_name"] }}" class="rl-logo" title="{{ site["site_name"] }}">
						  {% else %}
							{{ site["site_name"] }}
						  {% endif %}
						</a>
                        <div class="rl-text">
                           Por favor, preencha o formulário para receber um e-mail de redefinição de senha.
                        </div>
                        <ul class="rl-menu d-none d-lg-block">
                            <li>
                                <a href="/">Pagina inicial</a>
                            </li>
                            <li>
                                <a href="/services">Serviços</a>
                            </li>
                            <li>
                                <a href="/api">API</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center">
    
                    <div class="loginSide">
					<form method="post" action="">
                        <div class="login-box">
							  {% if errorText %}
								<div class="alert alert-dismissible alert-danger">
								  <button type="button" class="close" data-dismiss="alert">×</button>
								  {{ errorText }}
								</div>
							  {% endif %}
							  {% if successText %}
								<div class="alert alert-dismissible alert-success">
								  <button type="button" class="close" data-dismiss="alert">×</button>
								  {{ successText }}
								</div>
							  {% endif %}
                            <div class="lgb-title">
                                Resetar minha senha
                            </div>
                            <div class="lgb-text">
                                Preencha o formulário para redefinir sua senha.
                            </div>
                            <div class="fc-home">
                                <label for="regUsername"><span class="label-text">{{ lang['account.password.new'] }}</span></label>
                                 <input type="password" class="form-control" name="password">
                            </div><!-- fc-home -->
                            <div class="fc-home">
                                <label for="regUsername"><span class="label-text">{{ lang['account.password.confirm'] }}</span></label>
                                <input type="password" class="form-control" name="confirm_password">
                            </div><!-- fc-home -->


                            <button class="btn btn-secondary btn-lg btn-block mt-3" type="submit">
								{{ lang['resetpassword.button'] }}
                            </button>
                        </div><!-- login box -->
						</form>
                    </div>
    
                </div>
            </div><!-- row end -->
        </div>
    </div>
</div>

{% endif %}

{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}

{% include 'footer.twig' %}
