{% include 'header.twig' %}

<div class="app-content">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
					<div class="top-notice d-flex align-items-center">
						<i class="ri-user-settings-line"></i>
						<span class="pl-3"><strong>Hesabımı Doğrula</strong><br>Hesap doğrulamanızı bu sayfadan yapabilirsiniz.</span>
					</div>
                     <section class="order-side">

                        <div class="row">
                         
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">

                              <div class="d-card mb-3">
                                 <div class="d-card-body"> 
                          
								  {% if errorText %}
									<div class="alert alert-dismissible alert-danger">
									  <button type="button" class="close" data-dismiss="alert">×</button>
									  {{ errorText }}
									</div>
								  {% endif %}
								  {% if successText %}
									<div class="alert alert-dismissible alert-success">
									  <button type="button" class="close" data-dismiss="alert">×</button>
									  {{ successText }}
									</div>
								  {% endif %}
	  
                                     {% if verify %}
									 
									 <form method="post" action="/verify/mail">

									  <div class="form-group">
										<label for="username" class="control-label">{{ lang['verify.email'] }}</label>
										<input type="text" class="form-control"  placeholder="{{ user['email'] }}" disabled>
									  </div>

										<div class="form-group">
										  <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
										</div>

										<button type="submit" class="btn btn-primary click">{{ lang['verify.submit'] }}</button>
										<span class="pull-right pull-right-middle"><a href="#" data-toggle="modal" data-target="#editAccount">{{ lang['verify.edit'] }}</a></span>
									</form>
									  <div id="editAccount" class="modal fade" role="dialog">
										<div class="modal-dialog">
										  <div class="modal-content">
											<div class="modal-header">
											  
											  <h4 class="modal-title">{{ lang['verify.edit.title'] }}</h4>       <button type="button" class="close" data-dismiss="modal">×</button>
											</div>
											<div class="modal-body">
											  <form method="post" action="/verify/edit">
												<div class="form-group">
												  <label for="username" class="control-label">{{ lang['verify.email'] }}</label>
												  <input type="text" name="email" class="form-control"  value="{{ user['email'] }}">
												</div>
											</div>
											<div class="modal-footer">
											  <button type="submit" class="btn btn-primary">{{ lang['verify.edit.submit'] }}</button></form>
											 
											</div>
										  </div>
										</div>
									  </div>       
									{% else %}
									 <form method="post" action="/verify/sms">

									  <div class="form-group">
										<label for="username" class="control-label">{{ lang['verify.telephone'] }}</label>
										<input type="text" class="form-control"  placeholder="{{ user['telephone'] }}" disabled>
									  </div>

										<div class="form-group">
										  <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
										</div>

										<button type="submit" class="btn btn-primary click">{{ lang['verify.submit'] }}</button>
										<span class="pull-right pull-right-middle"><a href="#" data-toggle="modal" data-target="#editAccount">{{ lang['verify.edit'] }}</a></span>
									</form>
									
								  <div id="editAccount" class="modal fade" role="dialog">
									<div class="modal-dialog">
									  <div class="modal-content">
										<div class="modal-header">
										  
										  <h4 class="modal-title">{{ lang['verify.edit.title'] }}</h4><button type="button" class="close" data-dismiss="modal">×</button>
										</div>
										<div class="modal-body">
										  <form method="post" action="/verify/edit">
											<div class="form-group">
											  <label for="username" class="control-label">{{ lang['verify.telephone'] }}</label>
											  <input type="text" name="telephone" class="form-control"  value="{{ user['telephone'] }}">
											</div>
										</div>
										<div class="modal-footer">
										  <button type="submit" class="btn btn-primary">{{ lang['verify.edit.submit'] }}</button></form>
										</div>
									  </div>
									</div>
								  </div>     
								  
								{% endif %}
									
									
										
                                 </div>
                              </div>
                           </div>

                        </div>
                     </section>
                  </div>
               </div>
            </div>

         </div>

      </div>
	  
{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}


{% include 'footer.twig' %}
